/* .about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin-bottom: 18rem;
}

.about-me-text-container {
  max-width: 70rem;
  align-self: center;
}
 */

/* .about-me-text-container {
  max-width: 70rem;
  align-self: center;
	} */

.about-me-container {
  display: flex;
  margin: 0 auto;
  max-width: 70rem;

  margin-bottom: 12rem;
}

.about-me-text-container {
  /* max-width: 70rem; */
  align-self: center;
}

/* .about-me-text {
  margin-bottom: 1.2rem;
} */

.about-me-text p:not(:last-child) {
  margin-bottom: 1.2rem;
}

.about-me-header {
  margin-bottom: 4rem;
  text-align: center;
}

.to-cv {
  text-decoration: underline;
}

.to-cv:visited,
.to-cv:link {
  color: var(--color-secondary);
}

.to-cv:hover,
.to-cv:active {
  color: var(--color-secondary);
  text-decoration: none;
}

.about-me-image-container {
  max-width: 70rem;
  justify-self: end;
  /* flex-shrink: 1; */
  /* margin: 0 0 0 auto; */
}

.about-me-image {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .about-me-image-container {
    /* order: 2; */
    margin: 0;
    /* width: 50%; */
  }

  .about-me-text-container {
    /* order: 1; */
    /* padding: 0; */
    /* margin-bottom: 8rem; */
  }

  /* .about-me-text {
    text-align: left;
  } */

  .about-me-header {
    margin-bottom: 2rem;
    /* text-align: center; */
  }
}

@media screen and (max-width: 500px) {
  .about-me-container {
    margin-bottom: 12rem;
    /* max-width: 35rem; */
    /* padding: 0 2rem; */
    max-width: 35rem;
    margin: 0 auto;
  }

  .about-me-image-container {
    /* width: 60%; */
  }
}
