.about-me-container {
  display: flex;
  margin-bottom: 12rem;
}

.about-me-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  flex-grow: 1;
  font-size: 1.7rem;
  padding: 4rem 8rem;
}

.about-me-header {
  margin-bottom: 4rem;
}

.about-me-image-container {
  max-width: 50rem;
  flex-shrink: 1;
  margin: 0 0 0 auto;
}

.about-me-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-me-image-container {
    order: 2;
    margin: 0;
    width: 50%;
  }

  .about-me-text {
    order: 1;
    padding: 0;
    margin-bottom: 2rem;
  }

  .about-me-header {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .about-me-image-container {
    width: 60%;
  }
}
