.btn-to-top {
  font-size: 2rem;
  background-color: var(--color-ternary);
  color: var(--color-background);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  text-decoration: none;
  /* z-index: 1; */
}

/* .btn-to-top:visited,
.btn-to-top:link {
}

.btn-to-top:hover,
.btn-to-top :active {
} */

.icon-up {
  width: 3rem;
  transition: all 0.2s;
}

.btn-to-top:hover .icon-up {
  transform: translateY(-0.3rem);
}
