.header-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #022f45eb, #219cbaeb);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hidden {
  display: none;
}

.banner-container {
  display: grid;
  grid-template-columns: auto 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.banner-image-container {
  width: 90%;
  margin: 0 6rem 0 auto;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.banner-text {
  font-size: 6rem;
  color: var(--color-background);
}

.header-text {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2rem;
  align-self: flex-start;
  margin: auto auto auto 15%;
  animation: movein;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  display: none;
}

.header-container-blur {
  height: 100vh;
  background: linear-gradient(to right, #022f45eb, #219cbaeb);
  filter: blur(5px) opacity(80%);
}

@keyframes movein {
  0% {
    transform: translateX(calc(-50vw - 50%));
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translate(0);
  }
}

@media screen and (max-width: 1600px) {
  .banner-container {
    grid-template-columns: auto 50%;
  }
}

@media screen and (max-width: 1350px) {
  .banner-container {
    grid-template-columns: auto 60%;
  }

  h1 {
    font-size: 7rem;
  }

  .banner-text-container p {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .banner-container {
    grid-template-columns: auto 60%;
  }

  .banner-text-container {
    display: none;
  }

  .header-text {
    display: block;
    align-self: center;
    margin: 0;
  }

  h1 {
    font-size: 5rem;
  }

  .banner-text-container p {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 850px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .banner-image-container {
    display: none;
  }

  .header-container {
    background: linear-gradient(to right, #022f45eb, #219cbaeb);

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .banner-text-container {
    transform: translateY(12rem);
  }
}

@media screen and (max-width: 700px) {
  .header-text {
    margin: auto;
  }
}
