.header-container {
  position: relative;

  height: 100vh;
  background: linear-gradient(to right, #023047fa, #219dbcf7);
  /* url("/public/farshad.jpeg"); */

  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  color: #fff;
}

.banner-container {
  display: grid;
  grid-template-columns: auto 40%;
  height: 100%;
}

/* .banner-image-container {
  width: 40%;
  margin: 0 6rem 0 auto;
  background-image: url("/public/farshad.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
} */
.banner-image-container {
  width: 90%;
  margin: 0 6rem 0 auto;
  background-image: url("/public/farshad.jpeg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.banner-text {
  /* margin-left: 6rem;
  margin-top: 10rem; */

  margin: auto;
  transform: translateY(-20rem);
  /* position: absolute;
  top: 50%;
  left: 50%; */

  /* transform: translateX(-50%) translateY(-50%); */
  /* transform: translate(-50%, -50%); */
  /* align-self: center; */
  /* margin-top: calc(50%); */
}

/* .banner-image {
  height: 100%;
  width: 100%;
  opacity: 0.04;
} */

.header-text {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2rem;
  align-self: flex-start;
  /* margin: auto; */
  margin: auto auto auto 15%;
  animation: movein;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  display: none;
}

.header-container-blur {
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  /* ,    url("/public/header2.jpeg"); */
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  /* color: var(--color-foreground); */
  filter: blur(25px) opacity(70%);
}

@keyframes movein {
  0% {
    transform: translateX(calc(-50vw - 50%));
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translate(0);
  }
}

@media screen and (max-width: 1400px) {
  .banner-container {
    grid-template-columns: auto 50%;
  }
}

/* @media screen and (max-width: 1100px) {
  .banner-container {
    grid-template-columns: auto 60%;
  }
} */

@media screen and (max-width: 950px) {
  /* .banner-container {
    grid-template-columns: 1fr;
    background-image: url("/public/farshad.jpeg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  } */

  .banner-container {
    grid-template-columns: auto 60%;
  }

  /*  .banner-image-container {
    display: none;
  }

	

  .banner-text {
    display: none;
  }

  .header-text {
    display: block;
    align-self: center;
    margin: 0;
  } */

  h1 {
    font-size: 5rem;
  }
}

/* @media screen and (max-width: 1400px) {
  .banner-image-container {
    width: 50%;
  }
} */

@media screen and (max-width: 850px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .banner-image-container {
    display: none;
  }

  .header-container {
    background: linear-gradient(to right, #023047fa, #219dbcf7),
      url("/public/farshad.jpeg");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* z-index: -1; */
  }

  .banner-text {
    /* margin: 5rem auto; */
    /* margin: auto; */
    /* align-self: center; */
    /* text-align: center; */
    transform: translateY(6rem);
  }
}

@media screen and (max-width: 700px) {
  /* .header-container {
    background-position: center;
  } */

  .header-text {
    /* margin-left: 6rem; */
    margin: auto;
  }
}
