.project-image-container {
  width: 80%;
  max-width: 70rem;
}

.project-image-container-right {
  justify-self: right;
}

.project-image-container-left {
  justify-self: left;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}
