.project-image-container {
  /* height: 22.5rem; */
  height: 35rem;
}

.project-image-container-right {
  justify-self: right;
}

.project-image-container-left {
  justify-self: left;
}

.project-image {
  /* width: 40rem; */
  width: 60rem;
  height: 100%;
  border-radius: 10px;
}
