.project-image-container {
  /* height: 22.5rem; */
  /* height: 35rem; */
  width: 80%;
  max-width: 70rem;
}

.project-image-container-right {
  justify-self: right;
}

.project-image-container-left {
  justify-self: left;
}

.project-image {
  /* width: 40rem; */
  /* width: 60rem; */
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}
