.project-description-container {
  max-width: 40rem;
  text-align: center;
}

.project-header {
  margin-bottom: 4rem;
}

.project-description-left {
  justify-self: left;
}

.project-description-right {
  justify-self: right;
}

.project-description {
  margin-bottom: 2rem;
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
}

.project-url {
  display: flex;
  align-items: center;
}

.project-url:hover,
.project-url:active {
  text-decoration: none;
}

.project-url:visited,
.project-url:link {
  color: var(--color-foreground);
}

.icon-arrow-forward {
  width: 1.4rem;
}
