.project-description-container {
  /* max-width: 40rem; */
  max-width: 60rem;
  text-align: center;
}

.project-header {
  margin-bottom: 4rem;
}

.project-description-left {
  justify-self: left;
}

.project-description-right {
  justify-self: right;
}

.project-description {
  margin-bottom: 2rem;
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin: auto 0 0 0;
}

.project-url {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.project-url-dark:hover,
.project-url-dark:active {
  color: var(--color-background);
  text-decoration: none;
}

.project-url-light:hover,
.project-url-light:active {
  color: var(--color-foreground);
  text-decoration: none;
}

.project-url-dark:visited,
.project-url-dark:link {
  color: var(--color-background);
}

.project-url-light:visited,
.project-url-light:link {
  color: var(--color-foreground);
}

.icon-arrow-forward {
  width: 1.4rem;
}
