.project-description-container {
  width: 80%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-description-left {
  justify-self: left;
}

.project-description-right {
  justify-self: right;
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin: auto 0 0 0;
}

.project-url {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  background-color: var(--color-secondary);
  padding: 1.4rem;
  border: none;
  border-radius: 10rem;
  text-decoration: none;
}

.project-url:visited,
.project-url:link {
  color: var(--color-background);
  transition: all 0.4s;
}

.project-url:hover {
  background-color: var(--color-ternary);
  transform: translateY(-1px);
}

.project-url:active {
  transform: translateY(0);
}

.project-url-light:hover {
  box-shadow: 0 10px 20px 0 #d4d4d4;
}

.project-url-light:active {
  box-shadow: 0 5px 10px 0 #d4d4d4;
}

.project-url-dark:hover {
  box-shadow: 0 10px 20px 0 #282828fa;
}

.project-url-dark:active {
  box-shadow: 0 5px 10px 0 #282828fa;
}

.icon-arrow-forward {
  width: 1.4rem;
}
